
@{
    ViewData["Title"] = "EngagementByProject";
}


<div style="width:440px;float: left;">
    <table class="table-responsive">
        <tr>
            <th style="background-color:#DDEBF7; width:250px">
                Project
                <button id="projectFilterButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#projectFilter">
                    +
                </button>
            </th>
            <th style="background-color:#DDEBF7; width:80px">Resources</th>
            <th style="background-color:#DDEBF7; width:110px">Total Logged Hours(Month)</th>
        </tr>
    </table>
    @foreach (var item in Model.LoggedHoursByProjectDisplay)
    {
        <details>
            <summary>
                <table class="table-active">
                    <tr>
                        <td style="width:250px">+@item[0][0].Project</td>
                        <td style="width:80px">@item[1].Count</td>
                        <td style="width:110px">@item[0][0].TotalLoggedHoursMonth</td>
                    </tr>
                </table>
            </summary>
            <table class="table-responsive">
                @foreach (var i in item[1])
                {
                    <tr>
                        <td style="width:250px">@i.Resource</td>
                        <td style="width:80px">1</td>
                        <td style="width:110px">@i.TotalLoggedHoursMonth</td>
                    </tr>
                }
            </table>
        </details>
    }
    <table class="table-responsive">
        <tr>
            <th style="background-color:#DDEBF7; width:250px">Grand Total</th>
            <th style="background-color:#DDEBF7; width:80px">@Model.EngagementByProjectTotal[0]</th>
            <th style="background-color:#DDEBF7; width:110px">@Model.EngagementByProjectTotal[1]</th>
        </tr>
    </table>
</div>



