
@model IEnumerable<JiraDashboard.Models.Tasks>
@{
    ViewData["Title"] = "Jira";
}

<h1>Jira</h1>
<table class="table">
    <tr>
        <th>Project</th>
        <th>TasksCreatedThisMonth</th>
        <th>Completed</th>
        <th>TasksCreatedYTD</th>
        <th>TasksCompletedYTD</th>
        <th>Backlog</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@Html.DisplayTextFor(modelItem => item.Project)</th>
            <th>@Html.DisplayTextFor(modelItem => item.TasksCreatedThisMonth)</th>
            <th>@Html.DisplayTextFor(modelItem => item.Completed)</th>
            <th>@Html.DisplayTextFor(modelItem => item.TasksCreatedYTD)</th>
            <th>@Html.DisplayTextFor(modelItem => item.TasksCompletedYTD)</th>
            <th>@Html.DisplayTextFor(modelItem => item.Backlog)</th>
        </tr>

    }
</table>

